@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@500&display=swap');
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

body {
	font-family: 'Zen Kaku Gothic New', sans-serif;
	background-color: #f8f0fb; /* パステルピンクの背景色 */
	color: #333;
	margin: 0;
	padding: 20px;
	text-align: center;
}


h2 {
	color: #ff6699; /* ピンクのテキストカラー */
	margin-bottom: 30px;
	font-size: 24px;
}

.error {
	color: red;
	margin-bottom: 20px;
}

form {
	background-color: white;
	padding: 40px;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	display: inline-block;
	text-align: left;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    border: 2px solid #ff6699; /* テキストの周りにボーダーを追加 */
    border-radius: 50px; /* ボーダーを丸くする */
    padding: 10px 20px; /* テキストの内側の余白を追加 */
}

input[type="radio"] {
	margin-right: 10px;
}

label {
	margin-right: 20px;
	font-size: 14px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.btn-solid {
  color: #fff;
  border-top: 6q solid #48ecc4;
  border-right: 4px solid #0a5f4a;
  border-bottom: 4px solid #0f745b;
  border-left: 4px solid #8cf9de;
  border-radius: 0;
  background: #11a37f;
  margin-top: 1em;
  padding: 10px 20px; /* ボタンの内側の余白を調整してサイズを大きくする */
  font-size: 1.2rem; /* ボタンのテキストのサイズを調整 */
  width: auto; /* ボタンの幅を自動調整（必要に応じて固定値に変更） */
  height: auto; /* ボタンの高さを自動調整（必要に応じて固定値に変更） */
}

.btn-solid:hover {
  color: #fff;
  border-top: 4px solid #0f745b;
  border-right: 4px solid #8cf9de;
  border-bottom: 4px solid #48ecc4;
  border-left: 4px solid #0a5f4a;
}


.btn-malformation:hover {
  color: #fff;
  border-radius: 60% 80% / 100% 80%;
}

.btn-malformation {
  font-size: 1.4rem;
  margin-top: 20px;
  padding: 3rem 4rem;
  font-weight: bold; /* フォントを太くする */
  color: #fff;
  border-radius: 100% 80px / 80px 100%;
}

.btn-malformation--pastel {
  background: #fca1a1;
  background: -webkit-linear-gradient(-45deg, #fca1a1 40%, #fcfc5d 100%);
  background: -webkit-linear-gradient(315deg, #fca1a1 40%, #fcfc5d 100%);
  background: linear-gradient(135deg, #fca1a1 40%, #fcfc5d 100%);
  -webkit-box-shadow: 30px 10px 0 #fefeb3;
  box-shadow: 30px 10px 0 #fefeb3;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fca1a1', endColorstr='#fcfc5d', GradientType=1);
}


.error-messages {
	color: red;
	font-size: 14px;
	text-align: center;
}